<html>
  <head>
     <title>Welcome to ansible</title>
  </head>
  <body>
    <h1>nginx configured by ansible</h1>
    <p>If you see this, ansible succesfully installed nginx.</p>
    <p>{{ item }}</p>
  </body>
</html>

